*{
    box-sizing: border-box;
}

body {
margin: 0;
padding: 0;
background: rgb(43, 41, 41);
}

#continer {
    background-image: url(../img/studimo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

}
#studiom {
    background-image: url(../img/Container.png);
    background-repeat: no-repeat;
    height: 150vh;
    width: 102% ;
    background-position: right;
    
}

/* .contine-cards{
    width: 50%;
    height: 100%;
} */

/* 

*/
.btnCM::before,
.btnST::before{
  content :"CM";
  position:absolute;
  width: 60px;
  height: 30px;
  bottom: -20px;
  background: rgb(30, 29, 29);
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: white;
  border-radius: 90%;
}
.btnST::before{
    content :"ST";
    
  }
  