*{
    box-sizing: border-box;
}

body {
margin: 0;
padding: 0;
background: rgb(43, 41, 41);
}

#continer {
    background-image: url(../img/studimo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

}
#studiom {
    background-image: url(../img/Container.png);
    background-repeat: no-repeat;
    height: 150vh;
    width: 100% ;
    background-position: center;
    
}

/* .contine-cards{
    width: 50%;
    height: 100%;
} */

/* 

*/
